<div>
    <div class="flex justify-center mt-8">
        <img src="./../../assets/1.jpg">
    </div>
</div>
<div>
    <div class="w-1/2 h-12 bg-sky-500 text-white text-center flex items-center justify-center
     hover:bg-sky-600 mx-auto mt-10 cursor-pointer" button [routerLink]="'/create-itinerary'">
        Create New Itinerary
      </div>
</div>
<div>
    <div class="w-1/2 h-12 bg-sky-500 text-white text-center flex items-center justify-center
     hover:bg-sky-600 mx-auto mt-10 cursor-pointer" button [routerLink]="'/itinerary-list'">
        Itinerary List
      </div>
</div>