
<div class="w-3/4 mx-auto">
    <div class="text-justify leading-8 mt-4">
        <div class="bg-orange-300`">
            <p>Days Count: {{ destinationCount }}</p>
        </div>
        <p> Welcome to Yala, the ultimate wildlife adventure awaits!
    • Begin your day with an early morning safari in Yala National Park, famous for its diverse
    wildlife, including leopards and elephants.
    • Enjoy a packed breakfast amidst nature, taking in the sights and sounds of the park.
    • In the afternoon, explore the coastal areas within the park, where you may spot exotic birds
    and stunning landscapes.
    • Wind down your day with a delicious dinner at your lodge, sharing stories about your
    thrilling wildlife encounters.
    Interesting Fact: Yala National Park has the highest density of leopards in the world, making it a
    premier destination for wildlife enthusiasts.
</p>
    </div>
    <div class="flex justify-center mt-8">
        <img src="./../../assets/2.jpg">
    </div>
    </div>