<!-- Anuradhapura
Today, [Customer Name], step into the ancient city of Anuradhapura, a UNESCO World
Heritage Site!
• Start your day by visiting the sacred Sri Maha Bodhi tree, one of the oldest trees in the
world.
• Explore the ancient stupas and archaeological sites, learning about the rich history of the Sri
Lankan civilization.
• Enjoy a picnic lunch amidst the ruins, surrounded by serene landscapes.
• Conclude your day with a cultural show that highlights the traditional arts of Sri Lanka.
Did You Know? Anuradhapura was the capital of Sri Lanka for over a millennium and is filled with
fascinating ancient history.


<div class="w-3/4 mx-auto">
    <div class="text-justify leading-8 mt-4">
        <div class="bg-orange-300`">
            <p>Days Count: {{ destinationCount }}</p>
        </div>
        <p> Welcome to Yala, the ultimate wildlife adventure awaits!
    • Begin your day with an early morning safari in Yala National Park, famous for its diverse
    wildlife, including leopards and elephants.
    • Enjoy a packed breakfast amidst nature, taking in the sights and sounds of the park.
    • In the afternoon, explore the coastal areas within the park, where you may spot exotic birds
    and stunning landscapes.
    • Wind down your day with a delicious dinner at your lodge, sharing stories about your
    thrilling wildlife encounters.
    Interesting Fact: Yala National Park has the highest density of leopards in the world, making it a
    premier destination for wildlife enthusiasts.
</p>
    </div>
    <div class="flex justify-center mt-8">
        <img src="./../../assets/2.jpg">
    </div>
    </div> -->